<!DOCTYPE html>
<html
  xmlns:layout="http://www.w3.org/1999/xhtml"
  layout:decorate="~{fragments/main_layout}"
>
  <head>
    <title>Search</title>
  </head>

  <body>
    
    <div layout:fragment="content" class="container-fluid">
      <div class="row mb-3" th:each="news: ${results}" >
        <div class="card">
          <h5 class="card-header" th:text="${news.title}" />
          <div class="card-body">
            <h7 class="card-title" th:text="${#temporals.format(news.publishedDate, 'E, LLL-dd-yyyy h:mm a')}" />
            <p class="card-text" th:utext="${news.description}" />
            <a th:href="${news.link}" class=" btn btn-primary">Link</a>
          </div>
        </div>        
      </div>
    </div>

  </body>
</html>
